<!DOCTYPE html>
<html lang="en">
<head>
  <title>cryptoviz</title>
  <meta name="author" content="Stephen Cowley">
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<div class="nav">
  <ul>
    <li><a class="active" href="#">something</a></li>
    <li><a href="#">something</a></li>
    <li><a href="#">something</a></li>
    <li><a href="#">something</a></li>
  </ul>
</div>
<div class="nav sub-nav">
  <ul>
    <li><a class="active" href="#">asdfasdfasdf</a></li>
    <li><a href="#">qwefas</a></li>
    <li><a href="#">qwer</a></li>
    <li><a href="#">qwerqwert</a></li>
  </ul>
</div>
<div class="content">
~~~CONTENT~~~
</div>
</body>

</html>


